[Unit]
Description=Odoo open erp system
After=syslog.target network.target
#Requires=postgresql.service
#After=postgresql.service

[Service]
Type=simple
User=lav
WorkingDirectory=/home/danil/odoo/
ExecStart=/home/danil/odoo/odoo.py -c openerp-server.conf
#ExecStart=/home/danil/odoo/odoo.sh
Restart=always

[Install]
WantedBy=multi-user.target
