[Unit]
Description=run test example

[Service]
Type=simple
User=root
WorkingDirectory=/tmp/
ExecStart=example
Restart=always

[Install]
WantedBy=multi-user.target
