[Unit]
Description=run test sleep

[Service]
Type=simple
User=root
WorkingDirectory=/tmp/
ExecStart=sleep 100
PIDFile=/var/run/mysleep.pid
Restart=always

[Install]
WantedBy=multi-user.target
