[Unit]
Description=run test sleep

[Service]
Type=simple
User=root
WorkingDirectory=/tmp/
ExecStart=top
PIDFile=/var/run/top.pid
Restart=always

[Install]
WantedBy=multi-user.target
